---
title: "404: Not Found"
directory_index: false
---
<div id="notfound-page">
  <h1>404 - File not found</h1>
  <p>I'm still working on moving everything over from my old site, it won't be long.</p>
</div>
